
#modalDiv{
    margin-left: 25%;
    margin-top: 20%;
    font-family: 'Monoton', cursive;
}

#aboutButton{
    position: relative;
    margin: 5%;
}
#projectButton{
    position: relative;
    margin: 5%;

}
#contactButton{
    position: relative;
    margin: 5%;
}
