
#modalDiv{
    margin-left: 30%;
    margin-top: 20%;
    font-family: 'Monoton', cursive;
}

#aboutButton{
    position: relative;
    margin: 5%;
    font-family: 'Monoton', cursive;
}
#projectButton{
    position: relative;
    margin: 5%;
    font-family: 'Monoton', cursive;
}